/*  Layout for the Street Sign Custom Page -  most of the code is in buttons2, _mixins and functions.  */

.cs-csg3-street {
    > div {
        padding: 0;
    }
    .cs-csg3-options {
        //  background-color: red;  //test code
        margin: 0;
        padding: 0;
    }
    .cs-csg3-steps {
        margin-top: 4px;
    }
    .cs-csg3-leftWorkArea {
        margin: 0px;
        .cs-csg3-options {
            > .btn-group {
                padding-top: 15px;
                > .btn-group {
                    border: 1px solid $button-border-color;
                    border-radius: 4px;
                    background: $lightest-grey;
                }
            }
        }
    }
    .cs-csg3-rightWorkText {
        padding-left: 20px;
        > div {
            padding: 0;
        }
        .cs-csg3-sizeIndicator {
            float: right;
        }
        h3 {
            text-align: right;
        }
        span {}
        .cs-csg3-signArea {
            min-height: 180px;
        }
        .cs-btn-group-dimmed {
            height: 20px;
            width: 100%;
            float: left;
            padding-right: 10px;
        }
    }
    //this is actually inside rightWorkText
    .cs-csg-textEditArea {
        .form-inline,
        .form-group {
            display: inline-block;
            padding-left: 4px;
            padding-top: 4px;
            padding-right: 0;
        }
        input.form-control {
            width: $cs-csg3-input-field-length;
            border-radius: 0;
            &.cs-csg-input-long {
                width: 100%;
            }
        }
    }
}
