

.fotorama__arr.fotorama__arr--next {
    margin-right: -2px;
}
.fotorama__arr.fotorama__arr--prev {
    margin-left: -2px;
}
// .col-sm-12.moreinfo-td1.fotorama {
//     overflow: hidden;
//     width: 316px;
//     margin: 0 40px;
// }
.col-sm-12.moreinfo-td1.fotorama.fotorama1456411781406 {
    width: 300px;
    margin: 0 40px;
}