



.cs-ribbon {
    font-size: 22px;
    font-weight: bold;
    padding: 0 0 0 0;
    margin: 0px 0px 0px 0px;
    border-top: 1px solid #386b54;
    text-decoration: none;
    height: 187px;
    margin-bottom: 0px; //adding to this creates a gap between sections where the background shows through.
    background: white;
    h4 {
        font-size: 22px;
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 20px 0 0 0;
        margin: 0px 8px 8px 24px;
        color: #386b54;
        text-decoration: none;
        line-height: 28px;
    }
    a {
        display: inline-block;
    }

    img {
        max-height: 140px;
        max-width: 145px;
        padding: 5px 15px;
        opacity: .7;
        transition: opacity, .8s;

    }
    img:hover {
        max-height: 140px;
        max-width: 145px;
        padding: 5px 15px;
        opacity: 1.0;
        transition: opacity, .2s;

    }
    .cs-ribbon-container {
        padding: 0 45px;
        width: 100%;
        text-align: center;
        &:after {
            clear: both;
        }
    }
    .slick-prev {
        left: 20px;
    }
    .slick-next {
        right: 28px;
    }
}
