/* CSS Document EDITED*/

body {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	background-color:#718fb3;
	}
	
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000000;
	font-weight:bold;
	}
	
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
	
.site_top_bg {
	background-image:url(/media/new_csigns_images_10-19-09/site_top_bg.jpg);
	background-repeat:repeat-x;
	}
	
.site_left_bg {
	background-image:url(/media/new_csigns_images_10-19-09/site_left_bg.jpg);
	background-repeat:repeat-y;
	width:7px;
	}	
	
	
.site_right_bg {
	background-image:url(/media/new_csigns_images_10-19-09/site_right_bg.jpg);
	background-repeat:repeat-y;
	width:7px;
	}	
	
.site_bottom_bg {
	background-image:url(/media/new_csigns_images_10-19-09/site_bottom_bg.jpg);
	background-repeat:repeat-x;
	}
	
.header_bg {
	background-image:url(/media/new_csigns_images_10-19-09/header_bg.jpg);
	background-repeat:repeat-x;
	height:102px;
	}	
	
.header_right_bg {
	background-image:url(/media/new_csigns_images_10-19-09/header_left.jpg);
	background-repeat:no-repeat;
	background-position:right top;
	
	}	

.header_left_bg {
	background-image:url(/media/new_csigns_images_10-19-09/header_right.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	height:102px;
	}	
	
.top_nav {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#000000;
	font-weight:bold;
	}
	
.top_nav a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#000000;
	font-weight:bold;
	text-decoration:none;
	}
		
.top_nav a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#cc0000;
	font-weight:bold;
	text-decoration:none;
	}
	
.mini_cart_bg {
	background:url(/media/new_csigns_images_10-19-09/mini_cart_bg.jpg) no-repeat;
	width:130px;
	height:22px;
	vertical-align:top;
	}
	
.mini_cart_bg a {
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	}
	
.left_panel_bg {
	background-image:url(/media/new_csigns_images_10-19-09/left_panel_bg.jpg);
	background-repeat:repeat-y;
	padding:0px 5px 0px 5px;
	}
	
ul.left_nav {
	margin:0px;
	padding:0px 2px 0px 2px;
	list-style:none;
	}
		
ul.left_nav li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#0F9492;
	margin:0px 5px 10px 5px;
	}
	
ul.left_nav li li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#0F9492;
	margin:0px 0px 0px 0px;
	font-weight:normal;
	}	

ul.left_nav li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	font-weight:bold;
	}
		
ul.left_nav li ul {
	margin:0px 0px 0px 10px;
	padding:0px;
	list-style:none;
	}	
	
ul.left_nav li ul li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:3px 0px 0px 0px;
	}
	
ul.left_nav li ul li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#0F9492;
	font-weight:normal;
	text-decoration:none;
	}	
	
ul.left_nav li ul li a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#cc0000;
	font-weight:normal;
	
	}
	
.link_1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#cc0000;
	font-weight:bold;
	}	
	
.link_1 a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	font-weight:bold;
	}
	
.footer_bg {
	/*background-image:url(/media/new_csigns_images_10-19-09/footer_bg.jpg);
	background-repeat:repeat-x;*/
	}

.CopyrightText {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#aaaaaa;
	font-weight:normal;
	text-decoration:none;
	}

.TealBotLinks {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#0f9492;
	font-weight:normal;
	text-decoration:none;
	}	
.TealBotLinks a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#0f9492;
	font-weight:normal;
	text-decoration:none;
	}
.TealBotLinks a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	}
.CSSubMenuLinks {
	font-weight:bold;
	color:#0f9492;
	}
	
.text_1 {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:12px;
	padding:0px 5px 10px 5px;
	}

.text_2 {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:10px;
	padding:0px 5px 10px 5px;
	}
	
	
	
	
	
#header-panel_home {
	width:969px;
	position:absolute;
	margin:0px 0px 0px 0px;
	top:0px;	
	left:0px;
	right:0px;
	height:102px;
	z-index:1;
	}
	
#container_home {
	width:969px;
	overflow:hidden; 
	position:relative;
	}
		
#inner-content_home {
	width:799px;	
	margin:0px 0px 0px 170px;
	float:left;
	display:inline;
	}
	
#left-panel_home {
	width:170px;
	margin:0px 0px 0px -969px;	
	float:left;
	position:relative;
	}
	


/*****************************/	
	
.CSMenuLinks {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	font-weight:bold;
	}

.CSProdSKU {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	}

.CSMenuLinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;

}
.CSMenuLinks A:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;

}
.CSMenuLinks A:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;

}
.CSMenuLinks A:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC0000;
	text-decoration: none;
	font-weight: bold;

}
.CSSubMenuLinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0F9492;
	text-decoration: none;
	font-weight:normal;

}
.CSSubMenuLinks A:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0F9492;
	text-decoration: none;
	font-weight:normal;

}
.CSSubMenuLinks A:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0F9492;
	text-decoration: none;
	

}
.CSSubMenuLinks A:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC0000;
	text-decoration: none;

}
.CSTextTeal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0F9492;
	text-decoration: none;
	font-weight: bold;
}
.CSTextTeal  A:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0F9492;
	text-decoration: none;
	font-weight: bold;
}
.CSTextTeal A:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0F9492;
	text-decoration: none;
	font-weight: bold;
}
.CSTextTeal A:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #CC0000;
	text-decoration: none;
	font-weight: bold;
}


.BlueGreySearchInstructions {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5C798F;
	text-decoration: none;
	font-weight: bold;
}
.BlueGreySearchInstructionsBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.BreadCrumb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	}

.BreadCrumb a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	}

.BreadCrumb a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CC0000;
	}


a.CSMenuLinks:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC0000;
	text-decoration: none;
	font-weight: bold;

}


.tad_link_1 b a {
	text-decoration:none;
	color:#000000;
	}

.tad_link_1 b a:hover {
	text-decoration:none;
	color:#cc0000;
	}
.padd_new {
	height:10px;
	}



.searchbox {
	width:117px;
	}

.orderopt td {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	}
	
#sli_search_1 {
	width:115px;
	}
.MiniCart {
	text-align:center;
	font-size: 9px !important;
}

#colorselector {}

/* broken look at fixing later  
#colorselector tr.extend {display:}
*/

#colorselector_data {display:none}

table.colorselector_table td.label {
	font-weight:bold;
	font-size:14pt;
}

table.colorselector_table td.colorpick {
	font-weight:bold;
	font-size:8pt;
	text-decoration:none;
}

table.colorselector_table td.colorpick img {
	border:thin solid black;
}

table.colorselector_table td.colorpick img:hover {
	border:thin solid red;
}



/******************************** csigns-anim2010-CSS ************************************/

#inner-content_csigns-anim2010 {
	/*width:799px;*/	
	width:969px;
	margin:65px 0px 0px 0px;
	float:left;
	display:inline;
	}
	





/******************************** csigns-anim2010-CSS ************************************/


/* pause scroller styles */
/*Example CSS for the two demo scrollers*/

#pscroller1{
width: 300px;
height: 130px;
border: none;
padding: 5px;
background-color: white;
}


#pscroller2 a{
text-decoration: none;
}

.someclass{ //class to apply to your scroller(s) if desired
}

.kudostext {
font-family:Arial,Helvetica,sans-serif;
font-size:11px;
font-style:italic;
font-weight:400;
}

.kudosname {
float:right;
font-weight:bold;
width:300px;
}
/* end pause scroller */



/*25032011*/

.site_top_bg-new{
	background:#FFFFFF;
	}
.site_bottom_bg-new {
	background:#FFFFFF;
	}

/*25032011*/

/* IMPORTED FROM PAGE TEMPLATE Apri 2011 */
.breadcrumb_nav  {
	color:#999999;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	/*font-weight:bold;*/
	}
a.breadcrumb_nav  {
	color:#999999;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	/*font-weight:bold;*/
	}
a.breadcrumb_nav:hover  {
	color:#CC0000;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	/*font-weight:bold;*/
	}

.style1 {font-size: 9pt}

h1 {
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:18px;
	font-weight:bold;
}

body > table {
	margin-top:4px;
	margin-bottom:4px;
}

/* END APRIL 2011 IMPORTS */